# Python Tutorial P4E - Hyeyoung Ryu (2016195045)

# Installation for Python Tutorial

## 1. Installing Python 3

Mac Users
1. Open terminal
2. Install Homebrew

    ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"

3. Install Python

    brew install python
    
Windows Users
1. Go to the website below

    https://www.python.org/downloads/windows/
    
2. Install the Windows x86-64 executable installer
3. __WARNING:__ Make sure to click __"Add Python 3.6 to PATH"__ before clicking the "Install Now" button

Python Development Environments
- Python IDLE
- PyCharm
- Jupyter Notebook

## 2. Installing Jupyter Notebook

1. For Mac users, open terminal and for Windows users, open command prompt
2. Type the following
    python3 -m pip install -- upgrade pip
    python3 -m pip install jupyter
3. After having installed jupyter notebook, type "jupyter notebook" into terminal or command prompt to use it

## 3. Using Jupyter Notebook

1. Click "New" on the upper right corner of the page
2. Click "Python 3"
3. New notebook will be made
4. Write the code on the box next to In [ ]:
5. To run the code, click shift and enter at the same time
6. Results of the code will be shown below

# Before Beginning Python

## 1. Why Use Python?

- Easy and intuitive language
- Innumerous resources
- Easy for beginners
- Relatively fast development speed

## 2. Print() Function

- Built-in function
- Prints out values to the screen
- Can pass several values

In [1]:
#Prints out the value within the parantheses
print("Tom Hiddleston is the sexiest man alive.")

Tom Hiddleston is the sexiest man alive.

In [2]:
#Can pass several values
print ("Black", " ", "Panther")

Black   Panther

## 3. Variables

- Location in memory used to store some value
- Unique names are given to variables to differentiate between different memory locations
- Assignment statement
    - Creates new variables and gives them values
    - "=" is used to assign a value to a variable

In [3]:
#Assign string value to the variable series
series = "How I Met Your Mother"
print("The revival of the TV series 'Friends' was ", series, ".")

The revival of the TV series 'Friends' was  How I Met Your Mother .

## 4. Comments

- Line of text that the Python interpreter completely ignores when executing the code
- Use hash symbol (#) to indicate comments
    - Can only write a single physical line of comments with #
- Use """ """ to write many lines of comments
- Need to write comments for the code to be understandable to you and other programmers

In [4]:
#Assign string value to the variable series
#The line above and this line is a comment
series = "How I Met Your Mother"

## 5. Path

- Directory
- Works like an address
- e.x. your computer's "Downloads" folder address
    - Window Users: "C:/Users/username/Downloads"
    - Mac Users: "/Users/username/Downloads"

# Let's Start Python!

## 1. Data Types

Think of the data types as the __alphabet__ of Python
- Numbers
- Strings
- Boolean
- Lists
- Tuples
- Dictionary
- Set

### Numbers

- Integers
    - Round numbers without a decimal point
    - e.x. 2, 4, -15
- Floating Numbers
    - Real numbers
    - May have numbers after decimal points
    - e.x. 2.7, 4.123, -12.9
- Complex Numbers
    - Numbers in the form a + bi
    - a, b = real numbers
    - i = solution of "x^2 = -1"
    - e.x. 2 + 5i

Basic Math

In [5]:
# Addition (+)
print(7+8)

15

In [6]:
#Subtraction (-)
print(5-1)

4

In [7]:
#Multiplication(*)
print(15*10)

150

In [8]:
#Division(/)
print(20/5)

4.0

In [9]:
#Modulo(%)
#Returns the remainder
print(56%9)

2

In [10]:
#Exponentiation (**)
print(2**3)

8

### Strings

- Sequence of letters
- Indicating strings
    - Single (' ')
    - Double (" ")
    - Three of each quotation mark (''' ''', """ """)

In [11]:
#Assign string "Hello World!" to variable hello
hello = "Hello World!"
print(hello)

Hello World!

Addition

In [12]:
#Let's say that you want to write the sentence "My name is Tom Cruise."
#Assign "Tom" to variable first_name
first_name = "Tom"
#Assign "Cruise" to variable last_name
last_name = "Cruise"
#Strings can be added to create a sentence
print("My name is " + first_name + " " + last_name + ".")

My name is Tom Cruise.

Multiplication

In [13]:
#To make your wish come true, you have to say "Bibidi Babidi Bu" twice
#Assign "Bibidi Babidi Bu" to variable cinderella
cinderella = "Bibidi Babidi Bu"
#Strings can be multiplied
print(cinderella * 2)

Bibidi Babidi BuBibidi Babidi Bu

Indexing

- __Python starts from 0.__ If you want to know the first letter of the word, you have to get index 0, not index 1.
- Index of last letter of the word is -1.

In [14]:
#Let's say that you want to know the first letter of the word "supercalifragilisticexpialidocious"
poppins = "supercalifragilisticexpialidocious"
print(poppins[0])

#Let's say that you want to know the third letter of the word
print(poppins[2])

#Let's say that you want to know the third to last letter of the word
#Index of last letter of the word is -1
print(poppins[-3])

s
p
o

In [15]:
#Let's spell "taxi" from "supercalifragilisticexpialidocious"
print(poppins[17] + poppins[6] + poppins[-13] + poppins[-4])

#Let's spell "super" from "supercalifragilisticexpialidocious"
print(poppins[0:5])

taxi
super

Format

- Using the format() method we can add in variable values and generally format our strings
    - By using {}, you can assign which part of the string will be filled later
    - By using format() function, you can assign the value that goes into {}

In [16]:
#0 and 1 indicate the order of the words
#Chandler will go into the place of 0
#Bing will go into the place of 1
my_name = "{0} {1}".format("Chandler", "Bing")
print(my_name)

Chandler Bing

- % symbol creates a placeholder
- Conversion type
    - Whatever character follows % indicates the type of value put into the placeholder
    - e.x. %s = string
- Need another % after the string has closed
    - % will be followed by the values to insert
        - In the case of one value, you can just put it there
        - If you are inserting more than one value, they must be enclosed in a tuple

In [17]:
#In the case of one value, you can just put it there
print("Guardians of the Galaxy has %s members." % "four")

#If you are inserting more than one value, they must be enclosed in a tuple
print("%s bottles of soju makes Kevin %s." % (7, "go night night"))

Guardians of the Galaxy has four members.
7 bottles of soju makes Kevin go night night.

Functions

- count()
    - Returns the number of character in the string
- find()
    - Returns the value of the first position
    - If value does not exist, return -1
- index()
    - Returns the index number
- upper()
    - Capitalize string
- lower()
    - Lowercase string
- strip()
    - Delete spaces for both sides of string
- lstrip()
    - Delete spaces on left side of string
- rstrip()
    - Delete spaces on right side of string
- split()
    - splits string into words
- replace()
    - replaces part of the string to what you want to change it to

In [18]:
#Count() returns the number of character in the string
a = "Python is fun."
print(a.count("n"))

2

In [19]:
#Find() returns the value of the first position
print(a.find("n"))
#If value does not exist, return -1
print(a.find("z"))

5
-1

In [20]:
#Index() returns the index number
print(a.index("n"))

5

In [21]:
#Upper() capitalizes the string
print(a.upper())

#Lower() lowercases the string
print(a.lower())

PYTHON IS FUN.
python is fun.

In [22]:
#Strip() deletes spaces for both sides of string
b = "       Excessive spaces need to be stripped.         "
print(b.strip())

#Lstrip() deletes spaces on left side of string
print(b.lstrip())

#Rstrip() deletes spaces on the right side of string
print(b.rstrip())

Excessive spaces need to be stripped.
Excessive spaces need to be stripped.
       Excessive spaces need to be stripped.

In [23]:
#Split() splits strings into words
sentence = "I/hate/working/night/and/day"
print(sentence.split("/"))

['I', 'hate', 'working', 'night', 'and', 'day']

In [24]:
#Replace() replaces part of the string to what you want to change it to, so in this case, fun is replaced by horrible
a.replace("fun", "horrible")

'Python is horrible.'

### Boolean

- Boolean expression is evaluated as either True or False
- Relational operators
    - == Equal to
    - != Not equal to
    - < Less than
    - <= Less than or equal to
    - __>__ Greater than
    - __>=__ Greater than or equal to
- Logical operators
    - and (&)
    - or (|)
    - not

In [25]:
#And (&)
print(True and True)
print(True and False)
print(False and False)

True
False
False

In [26]:
#Or(|)
print(True or True)
print(True or False)
print(False or False)

True
True
False

In [27]:
#Not
print(not True)
print(not False)

False
True

### Lists

- Ordered collection of object that can contain any data type
- Can be defined using brackets []
- Element
    - Each data in the list

In [28]:
#Make a list called alcohol
alcohol = ["Jose Cuervo", "Bombay Sapphire", "Baileys", "KGB", "Bernini"]
print(alcohol)

['Jose Cuervo', 'Bombay Sapphire', 'Baileys', 'KGB', 'Bernini']

Index
- To find a specific element in the list
    - type in the index number inside the brackets of "list name []"

In [29]:
#Get the first item from the list alcohol
print(alcohol[0])

Jose Cuervo

In [30]:
#Get the items after the first element from the list alcohol
print(alcohol[1:])
#Get the third and fourth element of the list alcohol
print(alcohol[2:4])
#Get until the third element from the list alcohol
print(alcohol[:3])

['Bombay Sapphire', 'Baileys', 'KGB', 'Bernini']
['Baileys', 'KGB']
['Jose Cuervo', 'Bombay Sapphire', 'Baileys']

Combination of Lists

- Two different lists can be combined into one list with "+"

In [31]:
#Make a list called romance containing romance movies
romance = ["10 Things I Hate About You", "Love Actually", "Pretty Woman", "50 First Dates", "500 Days of Summer"]
#Make a list called horror containing horror movies
horror = ["The Conjuring", "Annabelle", "It", "The Shining", "Scream", "Paranormal Activity"]
#Combine the two lists into a list called movies
movies = romance + horror
print(movies)

['10 Things I Hate About You', 'Love Actually', 'Pretty Woman', '50 First Dates', '500 Days of Summer', 'The Conjuring', 'Annabelle', 'It', 'The Shining', 'Scream', 'Paranormal Activity']

Functions
- len()
    - returns the number of elements in a list
- count()
    - counts how many times the element is repeated in the list
- append()
    - adds an element to the list
- insert()
    - adds element into the list if the element is not in the list
- extend()
    - extends the list
- remove()
    - removes an element from the list
- sort()
    - sorts elements in the list
- reverse()
    - sorts elements in the list in reverse order

In [32]:
#Return the number of elements in the list romance
print(len(romance))

5

In [33]:
#Count how many times 2 is repeated in the list
list = [2, 3, 4, 2, 5, 2, 9]
print(list.count(2))

3

In [34]:
#Add "When Harry Met Sally" to the list romance
romance.append("When Harry Met Sally")
print(romance)

['10 Things I Hate About You', 'Love Actually', 'Pretty Woman', '50 First Dates', '500 Days of Summer', 'When Harry Met Sally']

In [35]:
#Insert() adds element into the list if the element is not in the list
#3 will not be added to the list since it is already in the list
#10 will be added to list since it is not in the list
list = [2, 3, 4, 2, 5, 2, 9]
list.insert(3, 10)
print(list)

[2, 3, 4, 10, 2, 5, 2, 9]

In [36]:
#Extend the list with extend()
a = [1, 2, 3, 4, 5]
a.extend(["hello", "5", 5])
print(a)

[1, 2, 3, 4, 5, 'hello', '5', 5]

In [37]:
#Remove "The Shining" from the list horror
horror.remove("The Shining")
print(horror)

['The Conjuring', 'Annabelle', 'It', 'Scream', 'Paranormal Activity']

In [38]:
#Sort elements in list c with sort()
c = [6, 4, 8, 3]
c.sort()
print(c)

[3, 4, 6, 8]

In [39]:
#Sort elements in list a in reverse order
a = ["a", "c", "b"]
a.reverse()
print(a)

['b', 'c', 'a']

### Tuples

- Immutable
    - Data cannot be changed once it has been generated
- When tuple has only one value, a comma must be followed
- Bracket can be skipped when assigning variables with tuple

In [40]:
#When tuple has only one value, a comma must be followed
tuple1 = (1,)
print(type(tuple1))
#Bracket can be skipped when assigning variables with tuple
tuple2 = (1,2,3)
tuple3 = 1,2,3
print(type(tuple2))
print(type(tuple3))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

Index
- Tuples indexing is similar to lists

In [41]:
tuple4 = (1, 2, 7, 4,"hello","bye", 1 ,"7")
#Get the fifth element in tuple
print(tuple4[4])
#Get from the third element in tuple
print(tuple4[2:])

hello
(7, 4, 'hello', 'bye', 1, '7')

Addition

In [42]:
#Add tuple5 and tuple6
tuple5 = (1,2,5)
tuple6 = (4,6,7)
tuple7 = tuple5 + tuple6
print(tuple7)

(1, 2, 5, 4, 6, 7)

Multiplication

In [43]:
#Multiply tuple5 two times
print(tuple5*2)

(1, 2, 5, 1, 2, 5)

### Dictionary

- Map between key set and value set
- Set of pairs of (key, value)
- Key must be immutable
- Combination of curly brackets { } and colons :
    - Curly brakcets define the beginning and end of a dictionary
    - Colons indicate key-value pairs
- __CAUTION:__ Dictionary key is a __unique__ value
    - Same key cannot be used again
    - List cannot be used in the key

In [44]:
#Create a personal_info dictionary containing the keys name, email, and birthday
personal_info = {"name":"Sarah",
                 "email":"hocuspocus@gmail.com",
                 "birthday":"19001031"}

Functions

- Keys()
    - Retrieves only keys from the dictionary
- Values()
    - Retrieves only values from the dictionary
- Items()
    - Retrieves keys and values pairs from the dictionary
- Get()
    - Gets values with keys

In [45]:
idols = {"Twice": ["Jihyo","Nayeon","Jungyeon","Momo","Sana","Mina","Dahyun","Chaeyoung","Tzuyu"], "Blackpink": ["Jisu","Jennie","Rose","Lisa"], "Bigbang": ["GD","TOP","Taeyang","Daesung","Seungri"], "BTS": ["RM","Suga","Jin","J-Hope","Jimin","V","Jungkook"]}
#Retrieve the keys from idols dictionary
print(idols.keys())

dict_keys(['Twice', 'Blackpink', 'Bigbang', 'BTS'])

In [46]:
#Retrieve the values from idols dictionary
print(idols.values())

dict_values([['Jihyo', 'Nayeon', 'Jungyeon', 'Momo', 'Sana', 'Mina', 'Dahyun', 'Chaeyoung', 'Tzuyu'], ['Jisu', 'Jennie', 'Rose', 'Lisa'], ['GD', 'TOP', 'Taeyang', 'Daesung', 'Seungri'], ['RM', 'Suga', 'Jin', 'J-Hope', 'Jimin', 'V', 'Jungkook']])

In [47]:
#Retrieve keys and values pairs from the idols dictionary
print(idols.items())

dict_items([('Twice', ['Jihyo', 'Nayeon', 'Jungyeon', 'Momo', 'Sana', 'Mina', 'Dahyun', 'Chaeyoung', 'Tzuyu']), ('Blackpink', ['Jisu', 'Jennie', 'Rose', 'Lisa']), ('Bigbang', ['GD', 'TOP', 'Taeyang', 'Daesung', 'Seungri']), ('BTS', ['RM', 'Suga', 'Jin', 'J-Hope', 'Jimin', 'V', 'Jungkook'])])

In [48]:
#Get values with keys for "BTS" from the idols dictionary
print(idols.get("BTS"))

['RM', 'Suga', 'Jin', 'J-Hope', 'Jimin', 'V', 'Jungkook']

### Sets

- Made with set() function
- Does not allow repetitive values
- Unordered
    - Cannot be indexed or sliced

In [1]:
s1 = set([1,2,3])
s2 = set("This is set")
print (s1, s2)

{1, 2, 3} {'s', 'T', 'e', 't', 'i', 'h', ' '}

Index
- To index or slice sets, convert set to tuples or lists

In [2]:
s1 = set([1,2,3])
s2 = set("This is set")
#Convert set s2 to list l2
l2 = list(s2)
print(l2)
#Find the fifth element in l2
print(l2[4])

['s', 'T', 'e', 't', 'i', 'h', ' ']
i

__SIDE NOTE:__ Type Conversion
- Built-in functions for type conversion
    - Int()
    - Float()
    - Str()
    - Round()

In [3]:
a = int(3.14)
print(type(a))

b = float("123.4")
print(type(b))

c = str(25)
print(type(c))

d = round(1.23)
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'int'>

Intersection

In [4]:
a = set([1,2,5,7,8,9])
b = set([2,6,3,8,4])
print(a & b)
print(a.intersection(b))

{8, 2}
{8, 2}

Union

In [5]:
a = set([1,2,5,7,8,9])
b = set([2,6,3,8,4])
print(a | b)
print(a.union(b))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

Subtraction

In [6]:
a = set([1,2,5,7,8,9])
b = set([2,6,3,8,4])
print(a - b)
print(a.difference(b))

{1, 5, 9, 7}
{1, 5, 9, 7}

Functions
- Add()
    - Adding a value to the set
- Remove()
    - Adding multiple values to the set
- Update()
    - Removing a value from the set

In [7]:
#add function
s1 = set([1,4,6,7])
s1.add(9)
print(s1)

{1, 4, 6, 7, 9}

In [8]:
#update function
s2 = set([5,8,3])
s2.update([1,4,5,6])
print(s2)

{1, 3, 4, 5, 6, 8}

In [9]:
#remove function
s3 = set([2,5,8,1])
s3.remove(2)
print(s3)

{8, 1, 5}

## 2. Control Statements

### If Conditional Statement

- Statement that may or may not be executed depending on certain conditions that the code specifies
- Condition part is when Boolean data types and logical operators are used frequently
- If-Elif-Else

In [10]:
#Letâ€™s say that you are 15 years old, but want to watch Deadpool 2 which is a R-rated movie.
my_age = 15
if my_age >= 19:
    print ("Go ahead and chill with Deadpool!")
elif 19 > my_age >= 15:
    print ("You may watch, but you have to watch with a guardian.")
else:
    print("Go home honey.")

You may watch, but you have to watch with a guardian.

### For Loop

For is a loop statement used for going through values or iterating over any sequences (tuple, list, string)

In [11]:
#print items in the list with the for loop
list = [0, 3, 6, 9]
for item in list:
    print(item)

0
3
6
9

### While Loop

While loop statements are repeated while a certain condition is met.

When condition becomes false, the loop stops.

In [12]:
#Initiate the loop
audition = 0
#While the audition is under 10, add one to audition
#Print the string everytime one is added to audition
while audition < 10:
    audition = audition +1
    print("Jennifer Aniston had to audition %d times." % audition)
#When audition reaches ten, print the following sentence
if audition == 10:
    print("Jennifer Aniston got to play Rachel on Friends.")

Jennifer Aniston had to audition 1 times.
Jennifer Aniston had to audition 2 times.
Jennifer Aniston had to audition 3 times.
Jennifer Aniston had to audition 4 times.
Jennifer Aniston had to audition 5 times.
Jennifer Aniston had to audition 6 times.
Jennifer Aniston had to audition 7 times.
Jennifer Aniston had to audition 8 times.
Jennifer Aniston had to audition 9 times.
Jennifer Aniston had to audition 10 times.
Jennifer Aniston got to play Rachel on Friends.

Break, Continue, Pass
- Break
    - When triggered, breaks out of the loop
- Continue
    - When triggered, skips part of the loop
- Pass
    - Runs entire loop

In [13]:
#Break will cut off the loop from 5
number = 0
for number in range (10):
    number = number + 1
    if number == 5:
        break
    print ("Number is " + str(number))

Number is 1
Number is 2
Number is 3
Number is 4

In [14]:
#Break will skip the case when number is 5
number = 0
for number in range (10):
    number = number + 1
    if number == 5:
        continue
    print ("Number is " + str(number))

Number is 1
Number is 2
Number is 3
Number is 4
Number is 6
Number is 7
Number is 8
Number is 9
Number is 10

In [15]:
#Pass will run the entire loop
number = 0
for number in range (10):
    number = number + 1
    if number == 5:
        pass
    print ("Number is " + str(number))

Number is 1
Number is 2
Number is 3
Number is 4
Number is 5
Number is 6
Number is 7
Number is 8
Number is 9
Number is 10

## 3. Functions

### Indentation

- Indent using the "tab" key
- 4 spaces = 1 indentation
- Code block
    - Group of statements that perform a task together
        - e.x. functions
    - Indented statements + preceding header
        - Begins with a header that is followed by one or more statements that are indented with respect to the header

### Functions

- Sequence of statements that performs a computation
- Takes an argument
- Returns a result
- Built-in or defined by user
- Call the function by name and parameter(s)

Built-In Functions

- Can be called without having to newly define them
- e.x. input() function
    - Receives user input and returns the input
    - input (prompt)
        - Prompt is a string and the message that appears to the user when inputting values

In [19]:
#Input() function receives user input and returns the input
game_of_thrones = input("Who will sit on the throne in the end? ")
game_of_thrones

Who will sit on the throne in the end? Sansa Stark

'Sansa Stark'

Defining Functions
- Define a funciton with keyword __def__ and parameters
- Header ends with a colon
- Body is indented
- Docstring
    - Describes what the function does
    - Write inside """ """

In [20]:
#Define game_of_thrones_greeting(person)
def game_of_thrones_greeting(person):
    """This function greets people in a game of thrones way."""
    print ("Winter is coming. " + "Be prepared " + person + ".")
#Call game_of_thrones_greeting with person parameter equaling Sansa Stark
game_of_thrones_greeting ("Sansa Stark")

Winter is coming. Be prepared Sansa Stark.

Return Statement
- Allows you to return to a result from a function
- Used to exit a function and go back to the place from where it was called
- Can call a function inside another function

In [21]:
#Define add_ten(value) function which adds ten to the value
def add_ten(value):
    """This function adds ten to the value."""
    result = value + 10
    return result
#Use add_ten fucntion to 21
add_ten(21)

31

## 4. Modules

### Installing Modules

- Windows Users
    - Use command prompt
- Mac Users
    - Use terminal
- Call pip to install required python modules
    - In command prompt or terminal, type either of the following
        - pip3 install module_name
        - python3 -m pip install module_name

### Using Modules

In [22]:
#Let's open up yscec from jupyter notebook using IFrame
from IPython.display import IFrame
IFrame("http://yscec.yonsei.ac.kr", width = 800, height = 300)

## 5. Class

- Data structure that can be reused and extended according to object-oriented programming paradigm
- Class
    - Cookie frame
- Object
    - Cookie

In [23]:
#Making class Employee
class Employee:
    """Common basic information of all employees"""
    empNum = 0
    #__init__ constructs an instance of a class
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary
        Employee.empNum += 1
    #show_empNum(self) function returns the total employee number.
    def show_empNum(self):
        print ("Total Employee Number is {0}".format(Employee.empNum))
    #show_empInfo(self) function returns the name of the employee and his or her salary
    def show_empInfo(self):
        print ("Name: ", self.name, ", Salary: ", self.salary)

In [24]:
#Shaping objects
emp1 = Employee("Angie","5000")
emp2 = Employee("Mike","4000")
emp3 = Employee("Brian","3000")

In [25]:
#Using functions defined in the class
emp2.show_empInfo()
emp3.show_empNum()

Name:  Mike , Salary:  4000
Total Employee Number is 3

# Let's Take It To The Next Level!

## Exercise 1 
- Add all the even numbers that exist from 0 to 100

In [26]:
#Step 1: From 0 to 100, the numbers increase by adding one to the previous number
num = 0
sum = 0
while num <= 100:
    num = num + 1
#Step 2: Get the even numbers from the numebrs from 0 to 100
    if num % 2 == 0:
#Step 3: Add all the even numbers and save into a variable called sum
        sum = sum + num
#Step 4: Check the answer by printing the sum variable
print(sum)

2550

## Exercise 2
- Create a Fibonacci Sequence
    - You are given the first three numbers of the Fibonacci sequence
        - F = [0, 1, 1]
- Create a for loop to determine the next 20 numbers of the Fibonacci sequence
- Print F with the final 23 numbers
- Use F.append() to add a new Fibonacci value to the end of the list F

In [27]:
#Step 1: Create a list with teh first three numbers of the Fibonacci sequence
F = [0, 1, 1]
#Step 2: Create a for loop to find the numbers in the Fibonacci series in the range (3, 23)
for i in range (3, 23):
    F.append(F[-1] + F[-2])
#Step 3: Print the Fibonacci numbers on the list "F"
print(F)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711]

# Check Out These Websites To Learn More About Python

- https://www.programiz.com/python-programming
- https://www.udacity.com/course/programming-foundations-with-python--ud036
- https://teamtreehouse.com/learn/python
- https://www.codeacademy.com/learn/learn-python